#multimedia #slider-multimedia {
    display: flex;
    width:65%;
    margin:40px auto;
    flex-direction: row;
}
#multimedia #slider-image {
    width: 100%;
}
#multimedia #slider-content{
    padding: 12px;
    background-image:linear-gradient(to top,black,#c4c4c4);
}
#multimedia p{
    font-size: 15px;
}
picture.card-batman figure img{
    margin-top:15px; margin-bottom: 15px;
    width: 75%;
}
picture.card-batman figure img:hover{
    margin-top:15px; margin-bottom: 15px;
    width: 100%;
}
.social-icons a img{
    text-decoration: none;
    width:15px;
}
.social-icons img{
    text-decoration: none;
    width:80px;
}
